@{
    layout = "layout.js.html";
    viewBag.Title = "Todo App";
var todos = [{name: "hello"}];
}
  <h1>Todo List</h1>
  <p>You have <strong>@todos.length</strong> Todo Items!</p>
  <p><a href="/todo/new">Create a ToDo</a></p>
  <ul id="todos">
  @{
  todos.forEach(function(todo) {
   <li>
          <strong>@todo.name</strong>
          <a href="/todo/@todo.id">View Details</a>
          <a href="/todo/edit/@todo.id">Edit</a>
          <a href="/todo/delete/@todo.id">Delete</a>
   </li>
  });
  }
</ul>