@{ 
layout = null; 
}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>@viewBag.Title</title>
    <!-- Sets initial viewport load and disables zooming  -->
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- site css -->
     <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootflat.min.css">
    <link rel="stylesheet" href="/css/site.css">
     <script type="text/javascript" src="/js/site.min.js" ></script>
  </head>
  <body style="background-color: #f1f2f6;">
    <div class="docs-header">
      <!--nav-->
      <nav class="navbar navbar-default navbar-custom" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html"><img src="/img/logo.png" height="40"></a>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a class="nav-link" href="getting-started.html">Getting Started</a></li>
              <li><a class="nav-link current" href="documentation.html">Documentation</a></li>
            </ul>
          </div>
        </div>
      </nav>
      <!--header-->
      <div class="topic">
        <div class="container">
          <h3>Documentation</h3>
          <h4>The complete style of the Bootflat Framework</h4>
        </div>
        <div class="topic__infos">
          <div class="container">
            Bootflat offers over a dozen reusable components, which can be combined with each other. 
          </div>
        </div>
      </div>
    </div>
    <!--documents-->
    <div class="container documents">
    <h1>@viewBag.Title</h1>
    @this.renderBody()
    </div>
    </body>
</html>

